
	<style type="text/css">
		body{
			background-color:maroon;
			text-align: center;
		}
		h1{font-size: 55pt
}
		h1{text-decoration: underline;}

		h3{font-size: 40pt}

		p1{font-size: 25pt}

		p2{font-size: 25pt;}

		p3{font-size:25pt;}

		h4{font-size: 40pt}

		h5{font-size: 40pt}

		h6{font-size: 40pt}


		a{font-size:20pt;

		}
	#div1{background-color:aqua;}
	#div2{background-color:blue;}
	#div3{background-color:white;}
	</style>